table{
    width: 100% !important;
}
 
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 224px;
    width: 224px;
}

.buttons,
table > tbody > tr > .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.content{
    padding: 8px;
    background: #f2f2f2;
    border-radius: 8px;
}

.content > table > button {

    box-shadow: none;
 }

 .custom-rounded {
    border-radius: 20px !important;  /* Define um raio de borda de 20px */
  }